In [3]:
import pandas as pd

In [6]:
'''Input the previous crop grown in soil, see what nutrients that uses,
 recommend something that grows in that soil/region but uses different nutrients'''


# # Initialize the data for the resources N, P, K
# resources = {'N': [100], 
#              'P': [100], 
#              'K': [100]}

# # Create a dataframe from the resources data
# df_resources = pd.DataFrame(resources, columns=['N', 'P', 'K'])

# # Initialize the data for the crops and their required N, P, K values
# crop_requirement = {'Crop': ['Crop1', 'Crop2', 'Crop3', 'Crop4', 'Crop5'], 
#                     'N': [80, 40, 20, 10, 5], 
#                     'P': [60, 40, 30, 20, 10], 
#                     'K': [50, 30, 20, 10, 5]}

# # Create a dataframe from the crop requirement data
# df_crop_requirement = pd.DataFrame(crop_requirement, columns=['Crop', 'N', 'P', 'K'])

# # Given crop that was planted before
# prev_crop = 'Crop2'

# # Find the resources used by the previous crop
# prev_crop_resources = df_crop_requirement[df_crop_requirement['Crop'] == prev_crop].iloc[:, 1:].values[0]

# # Calculate the remaining resources
# remaining_resources = df_resources - prev_crop_resources

# # Find the crops that use the least of the same resource as the previous crop
# best_crops = df_crop_requirement[(df_crop_requirement['N'] <= remaining_resources.iloc[0]['N']) & 
#                                  (df_crop_requirement['P'] <= remaining_resources.iloc[0]['P']) & 
#                                  (df_crop_requirement['K'] <= remaining_resources.iloc[0]['K'])].sort_values(by=['N', 'P', 'K'])

# # Get the crops that use the least of the same resources
# best_crops = best_crops['Crop'].tolist()

# # Print the best crops
# print("Best crops to plant: ", best_crops)

Best crops to plant:  ['Crop5', 'Crop4', 'Crop3', 'Crop2']

In [ ]:
#sample outputs from models
crops_from_location=['banana' 'cotton' 'maize' 'mungbean' 'rice' 'tapioca' 'chickpea''coconut' 'mango' 'watermelon']
crops_from_soiltype=['cotton', 'lentil', 'kidneybeans', 'rice', 'wheat', 'watermelon', 'maize', 'mungbean', 'tapioca']
crops_from_conditions=['banana', 'cotton', 'maize', 'mungbean', 'rice', 'tapioca', 'chickpea', 'coconut', 'mango', 'watermelon']

In [ ]:
final_op=list(set(crops_from_location) | set(crops_from_soiltype) & set(crops_from_conditions))

In [10]:
crop_price=pd.read_csv('datasets/crop_prices.csv')
crop_price

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,Andaman and Nicobar,South Andaman,Port Blair,Amaranthus,Amaranthus,04/03/2019,6000,8000,7000
1,Andaman and Nicobar,South Andaman,Port Blair,Banana - Green,Banana - Green,04/03/2019,4500,5500,5000
2,Andaman and Nicobar,South Andaman,Port Blair,Bhindi(Ladies Finger),Bhindi,04/03/2019,6000,8000,7000
3,Andaman and Nicobar,South Andaman,Port Blair,Bitter gourd,Other,04/03/2019,6000,8000,7000
4,Andaman and Nicobar,South Andaman,Port Blair,Black pepper,Other,04/03/2019,110000,130000,120000
...,...,...,...,...,...,...,...,...,...
2233,West Bengal,Uttar Dinajpur,Islampur,Potato,Jyoti,04/03/2019,530,570,550
2234,West Bengal,Uttar Dinajpur,Islampur,Rice,Other,04/03/2019,3550,3650,3600
2235,West Bengal,Uttar Dinajpur,Raiganj,Jute,TD-5,04/03/2019,4400,4600,4500
2236,West Bengal,Uttar Dinajpur,Raiganj,Rice,Other,04/03/2019,3450,3550,3500
2237,West Bengal,Uttar Dinajpur,Raiganj,Wheat,Kalyan,04/03/2019,2075,2125,2100

In [11]:
crop_price.drop(['market', 'variety', 'arrival_date', 'min_price', 'max_price'], axis=1, inplace=True)
crop_price

                    state        district              commodity  modal_price
0     Andaman and Nicobar   South Andaman             Amaranthus         7000
1     Andaman and Nicobar   South Andaman         Banana - Green         5000
2     Andaman and Nicobar   South Andaman  Bhindi(Ladies Finger)         7000
3     Andaman and Nicobar   South Andaman           Bitter gourd         7000
4     Andaman and Nicobar   South Andaman           Black pepper       120000
...                   ...             ...                    ...          ...
2233          West Bengal  Uttar Dinajpur                 Potato          550
2234          West Bengal  Uttar Dinajpur                   Rice         3600
2235          West Bengal  Uttar Dinajpur                   Jute         4500
2236          West Bengal  Uttar Dinajpur                   Rice         3500
2237          West Bengal  Uttar Dinajpur                  Wheat         2100

[2238 rows x 4 columns]

In [19]:
crop_profit=pd.read_csv('datasets/crop_profits.csv')
crop_profit.head(10)

    crop               State  yield  production_cost  sale_price    profit
0   apple  Jammu And Kashmir   10.9          51870.0     60000.0  602130.0
1   apple   Himachal Pradesh    1.1          45000.0     50000.0   10000.0
2   apple         Uttranchal    1.9          45000.0     50000.0   50000.0
3   apple  Arunachal Pradesh    1.3          45000.0     50000.0   20000.0
4   apple           Nagaland    3.3          45000.0     48000.0  113400.0
5  banana        Maharashtra   65.7          61750.0     15000.0  923750.0
6  banana         Tamil Nadu   41.9          61750.0     15000.0  566750.0
7  banana          Karnataka   23.8          61750.0     15000.0  295250.0
8  banana            Gujarat   34.8          61750.0     15000.0  460250.0
9  banana     Andhra Pradesh   22.0          61750.0     15000.0  268250.0

In [17]:
crop_list=pd.read_csv('datasets/crop_list.csv')
crop_list = crop_list['0'].to_list()
print(crop_list)

['apple', 'banana', 'blackgram', 'chickpea', 'coconut', 'coffee', 'cotton', 'grapes', 'jute', 'kidneybeans', 'lentil', 'maize', 'mango', 'mungbean', 'orange', 'papaya', 'pomegranate', 'rice', 'tapioca', 'watermelon', 'wheat']

In [ ]:
from collections import defaultdict
profit_ranks=defaultdict(int)
for crop in crop_list:
    profit_ranks[crop]=