Crops from Location and Season

In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [73]:
crop_prod=pd.read_csv('datasets/crop_production_v2.csv')
crop_prod

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman And Nicobar,Nicobars,2000,Kharif,rice,102.0,321.0
1,Andaman And Nicobar,Nicobars,2000,Whole Year,banana,176.0,641.0
2,Andaman And Nicobar,Nicobars,2000,Whole Year,coconut,18168.0,65100000.0
3,Andaman And Nicobar,Nicobars,2000,Whole Year,tapioca,40.0,169.0
4,Andaman And Nicobar,Nicobars,2001,Kharif,rice,83.0,300.0
...,...,...,...,...,...,...,...
60547,West Bengal,Purulia,2014,Rabi,mungbean,64.0,40.0
60548,West Bengal,Purulia,2014,Rabi,wheat,1622.0,3663.0
60549,West Bengal,Purulia,2014,Summer,maize,325.0,2039.0
60550,West Bengal,Purulia,2014,Summer,rice,306.0,801.0
60551,West Bengal,Purulia,2014,Winter,rice,279151.0,597899.0

In [74]:
crop_prod['Production/Area']=crop_prod['Production']/crop_prod['Area']
crop_prod

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Production/Area
0,Andaman And Nicobar,Nicobars,2000,Kharif,rice,102.0,321.0,3.147059
1,Andaman And Nicobar,Nicobars,2000,Whole Year,banana,176.0,641.0,3.642045
2,Andaman And Nicobar,Nicobars,2000,Whole Year,coconut,18168.0,65100000.0,3583.223250
3,Andaman And Nicobar,Nicobars,2000,Whole Year,tapioca,40.0,169.0,4.225000
4,Andaman And Nicobar,Nicobars,2001,Kharif,rice,83.0,300.0,3.614458
...,...,...,...,...,...,...,...,...
60547,West Bengal,Purulia,2014,Rabi,mungbean,64.0,40.0,0.625000
60548,West Bengal,Purulia,2014,Rabi,wheat,1622.0,3663.0,2.258323
60549,West Bengal,Purulia,2014,Summer,maize,325.0,2039.0,6.273846
60550,West Bengal,Purulia,2014,Summer,rice,306.0,801.0,2.617647
60551,West Bengal,Purulia,2014,Winter,rice,279151.0,597899.0,2.141848

In [75]:
#how many states
print(crop_prod['State_Name'].unique())

['Andaman And Nicobar' 'Andhra Pradesh' 'Assam' 'Chattisgarh' 'Goa'
 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu And Kashmir' 'Karnataka'
 'Kerala' 'Madhya Pradesh' 'Maharashtra' 'Manipur' 'Meghalaya' 'Nagaland'
 'Odisha' 'Pondicherry' 'Punjab' 'Rajasthan' 'Tamil Nadu' 'Telangana'
 'Tripura' 'Uttar Pradesh' 'Uttrakhand' 'West Bengal']

In [76]:
#how many districts in each state
crop_prod.groupby('State_Name').apply(lambda x: len(x['District_Name'].unique().tolist())).sort_index()

State_Name
Andaman And Nicobar     3
Andhra Pradesh         13
Assam                  27
Chattisgarh            27
Goa                     2
Gujarat                26
Haryana                21
Himachal Pradesh       12
Jammu And Kashmir      22
Karnataka              30
Kerala                 14
Madhya Pradesh         51
Maharashtra            35
Manipur                 9
Meghalaya              11
Nagaland               11
Odisha                 30
Pondicherry             4
Punjab                 22
Rajasthan              33
Tamil Nadu             31
Telangana              10
Tripura                 8
Uttar Pradesh          75
Uttrakhand             13
West Bengal            18
dtype: int64

In [77]:
#crops in each district
crop_prod.groupby('District_Name').apply(lambda x: x['Crop'].unique().tolist()).sort_index()

District_Name
24 Paraganas North    [rice, jute, chickpea, mungbean, wheat, coconu...
24 Paraganas South    [rice, cotton, jute, mungbean, wheat, coconut,...
Adilabad              [cotton, maize, mungbean, rice, chickpea, whea...
Agar Malwa                     [maize, mungbean, rice, chickpea, wheat]
Agra                  [maize, mungbean, rice, chickpea, wheat, cotto...
                                            ...
Yadgir                [cotton, maize, mungbean, rice, chickpea, whea...
Yamunanagar           [maize, rice, chickpea, wheat, cotton, mungbea...
Yanam                          [rice, mungbean, banana, coconut, mango]
Yavatmal              [chickpea, maize, mungbean, rice, wheat, cotto...
Zunheboto             [maize, rice, cotton, mungbean, chickpea, whea...
Length: 553, dtype: object

In [78]:
#return states
crop_prod['State_Name'].unique()

array(['Andaman And Nicobar', 'Andhra Pradesh', 'Assam', 'Chattisgarh',
       'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu And Kashmir', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Nagaland', 'Odisha',
       'Pondicherry', 'Punjab', 'Rajasthan', 'Tamil Nadu', 'Telangana',
       'Tripura', 'Uttar Pradesh', 'Uttrakhand', 'West Bengal'],
      dtype=object)

In [104]:
#given State, return districts
input_state="Maharashtra"
crop_prod[crop_prod['State_Name']==input_state]['District_Name'].unique()

array(['Ahmednagar', 'Akola', 'Amravati', 'Aurangabad', 'Beed',
       'Bhandara', 'Buldhana', 'Chandrapur', 'Dhule', 'Gadchiroli',
       'Gondia', 'Hingoli', 'Jalgaon', 'Jalna', 'Kolhapur', 'Latur',
       'Mumbai', 'Nagpur', 'Nanded', 'Nandurbar', 'Nashik', 'Osmanabad',
       'Palghar', 'Parbhani', 'Pune', 'Raigad', 'Ratnagiri', 'Sangli',
       'Satara', 'Sindhudurg', 'Solapur', 'Thane', 'Wardha', 'Washim',
       'Yavatmal'], dtype=object)

In [103]:
#given state and district, return season
input_district="Satara"
#crop_prod[crop_prod['State_Name']==input_state,crop_prod['District_Name'==input_district]['Crop']].unique()
crop_prod.loc[(crop_prod['State_Name'] == input_state) & (crop_prod['District_Name'] == input_district), 'Season'].unique()

array(['Kharif', 'Rabi', 'Summer', 'Whole Year'], dtype=object)

In [105]:
#given state and district and season, return crops
input_season="Whole Year"
#crop_prod[crop_prod['State_Name']==input_state,crop_prod['District_Name'==input_district]['Crop']].unique()
if input_season=='Whole Year' or input_season not in set(crop_prod[crop_prod['District_Name']==input_state]['Season'].unique()):
    crop_from_location=crop_prod.loc[(crop_prod['State_Name'] == input_state) & (crop_prod['District_Name'] == input_district), 'Crop'].unique()
else:
    crops_from_location=crop_prod.loc[(crop_prod['State_Name'] == input_state) & (crop_prod['District_Name'] == input_district) & (crop_prod['Season'] == input_season), 'Crop'].unique()

In [106]:
print(crops_from_location)

['chickpea' 'maize' 'mungbean' 'rice' 'wheat' 'cotton' 'banana' 'grapes'
 'mango']

In [88]:
print(crops_from_location)

['chickpea' 'wheat' 'cotton' 'maize' 'mungbean']

In [82]:
# create a dictionary for each group, where the key is the state name and the value is a list of all the districts for that state
result = {state: districts['District_Name'].unique().tolist() for state, districts in crop_prod.groupby('State_Name')}
print(result)

{'Andaman And Nicobar': ['Nicobars', 'North And Middle Andaman', 'South Andamans'], 'Andhra Pradesh': ['Anantapur', 'Chittoor', 'East Godavari', 'Guntur', 'Kadapa', 'Krishna', 'Kurnool', 'Prakasam', 'Spsr Nellore', 'Srikakulam', 'Visakhapatanam', 'Vizianagaram', 'West Godavari'], 'Assam': ['Baksa', 'Barpeta', 'Bongaigaon', 'Cachar', 'Chirang', 'Darrang', 'Dhemaji', 'Dhubri', 'Dibrugarh', 'Dima Hasao', 'Goalpara', 'Golaghat', 'Hailakandi', 'Jorhat', 'Kamrup', 'Kamrup Metro', 'Karbi Anglong', 'Karimganj', 'Kokrajhar', 'Lakhimpur', 'Marigaon', 'Nagaon', 'Nalbari', 'Sivasagar', 'Sonitpur', 'Tinsukia', 'Udalguri'], 'Chattisgarh': ['Balod', 'Baloda Bazar', 'Balrampur', 'Bastar', 'Bemetara', 'Bijapur', 'Bilaspur', 'Dantewada', 'Dhamtari', 'Durg', 'Gariyaband', 'Janjgir-Champa', 'Jashpur', 'Kabirdham', 'Kanker', 'Kondagaon', 'Korba', 'Korea', 'Mahasamund', 'Mungeli', 'Narayanpur', 'Raigarh', 'Raipur', 'Rajnandgaon', 'Sukma', 'Surajpur', 'Surguja'], 'Goa': ['North Goa', 'South Goa'], 'Gujarat': ['Ahmadabad', 'Amreli', 'Anand', 'Banas Kantha', 'Bharuch', 'Bhavnagar', 'Dang', 'Dohad', 'Gandhinagar', 'Jamnagar', 'Junagadh', 'Kachchh', 'Kheda', 'Mahesana', 'Narmada', 'Navsari', 'Panch Mahals', 'Patan', 'Porbandar', 'Rajkot', 'Sabar Kantha', 'Surat', 'Surendranagar', 'Tapi', 'Vadodara', 'Valsad'], 'Haryana': ['Ambala', 'Bhiwani', 'Faridabad', 'Fatehabad', 'Gurgaon', 'Hisar', 'Jhajjar', 'Jind', 'Kaithal', 'Karnal', 'Kurukshetra', 'Mahendragarh', 'Mewat', 'Palwal', 'Panchkula', 'Panipat', 'Rewari', 'Rohtak', 'Sirsa', 'Sonipat', 'Yamunanagar'], 'Himachal Pradesh': ['Bilaspur', 'Chamba', 'Hamirpur', 'Kangra', 'Kinnaur', 'Kullu', 'Lahul And Spiti', 'Mandi', 'Shimla', 'Sirmaur', 'Solan', 'Una'], 'Jammu And Kashmir': ['Anantnag', 'Badgam', 'Bandipora', 'Baramulla', 'Doda', 'Ganderbal', 'Jammu', 'Kargil', 'Kathua', 'Kishtwar', 'Kulgam', 'Kupwara', 'Leh Ladakh', 'Poonch', 'Pulwama', 'Rajauri', 'Ramban', 'Reasi', 'Samba', 'Shopian', 'Srinagar', 'Udhampur'], 'Karnataka': ['Bagalkot', 'Bangalore Rural', 'Belgaum', 'Bellary', 'Bengaluru Urban', 'Bidar', 'Bijapur', 'Chamarajanagar', 'Chikballapur', 'Chikmagalur', 'Chitradurga', 'Dakshin Kannad', 'Davangere', 'Dharwad', 'Gadag', 'Gulbarga', 'Hassan', 'Haveri', 'Kodagu', 'Kolar', 'Koppal', 'Mandya', 'Mysore', 'Raichur', 'Ramanagara', 'Shimoga', 'Tumkur', 'Udupi', 'Uttar Kannad', 'Yadgir'], 'Kerala': ['Alappuzha', 'Ernakulam', 'Idukki', 'Kannur', 'Kasaragod', 'Kollam', 'Kottayam', 'Kozhikode', 'Malappuram', 'Palakkad', 'Pathanamthitta', 'Thiruvananthapuram', 'Thrissur', 'Wayanad'], 'Madhya Pradesh': ['Agar Malwa', 'Alirajpur', 'Anuppur', 'Ashoknagar', 'Balaghat', 'Barwani', 'Betul', 'Bhind', 'Bhopal', 'Burhanpur', 'Chhatarpur', 'Chhindwara', 'Damoh', 'Datia', 'Dewas', 'Dhar', 'Dindori', 'Guna', 'Gwalior', 'Harda', 'Hoshangabad', 'Indore', 'Jabalpur', 'Jhabua', 'Katni', 'Khandwa', 'Khargone', 'Mandla', 'Mandsaur', 'Morena', 'Narsinghpur', 'Neemuch', 'Panna', 'Raisen', 'Rajgarh', 'Ratlam', 'Rewa', 'Sagar', 'Satna', 'Sehore', 'Seoni', 'Shahdol', 'Shajapur', 'Sheopur', 'Shivpuri', 'Sidhi', 'Singrauli', 'Tikamgarh', 'Ujjain', 'Umaria', 'Vidisha'], 'Maharashtra': ['Ahmednagar', 'Akola', 'Amravati', 'Aurangabad', 'Beed', 'Bhandara', 'Buldhana', 'Chandrapur', 'Dhule', 'Gadchiroli', 'Gondia', 'Hingoli', 'Jalgaon', 'Jalna', 'Kolhapur', 'Latur', 'Mumbai', 'Nagpur', 'Nanded', 'Nandurbar', 'Nashik', 'Osmanabad', 'Palghar', 'Parbhani', 'Pune', 'Raigad', 'Ratnagiri', 'Sangli', 'Satara', 'Sindhudurg', 'Solapur', 'Thane', 'Wardha', 'Washim', 'Yavatmal'], 'Manipur': ['Bishnupur', 'Chandel', 'Churachandpur', 'Imphal East', 'Imphal West', 'Senapati', 'Tamenglong', 'Thoubal', 'Ukhrul'], 'Meghalaya': ['East Garo Hills', 'East Jaintia Hills', 'East Khasi Hills', 'North Garo Hills', 'Ri Bhoi', 'South Garo Hills', 'South West Garo Hills', 'South West Khasi Hills', 'West Garo Hills', 'West Jaintia Hills', 'West Khasi Hills'], 'Nagaland': ['Dimapur', 'Kiphire', 'Kohima', 'Longleng', 'Mokokchung', 'Mon', 'Peren', 'Phek', 'Tuensang', 'Wokha', 'Zunheboto'], 'Odisha': ['Anugul', 'Balangir', 'Baleshwar', 'Bargarh', 'Bhadrak', 'Boudh', 'Cuttack', 'Deogarh', 'Dhenkanal', 'Gajapati', 'Ganjam', 'Jagatsinghapur', 'Jajapur', 'Jharsuguda', 'Kalahandi', 'Kandhamal', 'Kendrapara', 'Kendujhar', 'Khordha', 'Koraput', 'Malkangiri', 'Mayurbhanj', 'Nabarangpur', 'Nayagarh', 'Nuapada', 'Puri', 'Rayagada', 'Sambalpur', 'Sonepur', 'Sundargarh'], 'Pondicherry': ['Karaikal', 'Mahe', 'Pondicherry', 'Yanam'], 'Punjab': ['Amritsar', 'Barnala', 'Bathinda', 'Faridkot', 'Fatehgarh Sahib', 'Fazilka', 'Firozepur', 'Gurdaspur', 'Hoshiarpur', 'Jalandhar', 'Kapurthala', 'Ludhiana', 'Mansa', 'Moga', 'Muktsar', 'Nawanshahr', 'Pathankot', 'Patiala', 'Rupnagar', 'S.A.S Nagar', 'Sangrur', 'Tarn Taran'], 'Rajasthan': ['Ajmer', 'Alwar', 'Banswara', 'Baran', 'Barmer', 'Bharatpur', 'Bhilwara', 'Bikaner', 'Bundi', 'Chittorgarh', 'Churu', 'Dausa', 'Dholpur', 'Dungarpur', 'Ganganagar', 'Hanumangarh', 'Jaipur', 'Jaisalmer', 'Jalore', 'Jhalawar', 'Jhunjhunu', 'Jodhpur', 'Karauli', 'Kota', 'Nagaur', 'Pali', 'Pratapgarh', 'Rajsamand', 'Sawai Madhopur', 'Sikar', 'Sirohi', 'Tonk', 'Udaipur'], 'Tamil Nadu': ['Ariyalur', 'Coimbatore', 'Cuddalore', 'Dharmapuri', 'Dindigul', 'Erode', 'Kanchipuram', 'Kanniyakumari', 'Karur', 'Krishnagiri', 'Madurai', 'Nagapattinam', 'Namakkal', 'Perambalur', 'Pudukkottai', 'Ramanathapuram', 'Salem', 'Sivaganga', 'Thanjavur', 'The Nilgiris', 'Theni', 'Thiruvallur', 'Thiruvarur', 'Tiruchirappalli', 'Tirunelveli', 'Tiruppur', 'Tiruvannamalai', 'Tuticorin', 'Vellore', 'Villupuram', 'Virudhunagar'], 'Telangana': ['Adilabad', 'Hyderabad', 'Karimnagar', 'Khammam', 'Mahbubnagar', 'Medak', 'Nalgonda', 'Nizamabad', 'Rangareddi', 'Warangal'], 'Tripura': ['Dhalai', 'Gomati', 'Khowai', 'North Tripura', 'Sepahijala', 'South Tripura', 'Unakoti', 'West Tripura'], 'Uttar Pradesh': ['Agra', 'Aligarh', 'Allahabad', 'Ambedkar Nagar', 'Amethi', 'Amroha', 'Auraiya', 'Azamgarh', 'Baghpat', 'Bahraich', 'Ballia', 'Balrampur', 'Banda', 'Barabanki', 'Bareilly', 'Basti', 'Bijnor', 'Budaun', 'Bulandshahr', 'Chandauli', 'Chitrakoot', 'Deoria', 'Etah', 'Etawah', 'Faizabad', 'Farrukhabad', 'Fatehpur', 'Firozabad', 'Gautam Buddha Nagar', 'Ghaziabad', 'Ghazipur', 'Gonda', 'Gorakhpur', 'Hamirpur', 'Hapur', 'Hardoi', 'Hathras', 'Jalaun', 'Jaunpur', 'Jhansi', 'Kannauj', 'Kanpur Dehat', 'Kanpur Nagar', 'Kasganj', 'Kaushambi', 'Kheri', 'Kushi Nagar', 'Lalitpur', 'Lucknow', 'Maharajganj', 'Mahoba', 'Mainpuri', 'Mathura', 'Mau', 'Meerut', 'Mirzapur', 'Moradabad', 'Muzaffarnagar', 'Pilibhit', 'Pratapgarh', 'Rae Bareli', 'Rampur', 'Saharanpur', 'Sambhal', 'Sant Kabeer Nagar', 'Sant Ravidas Nagar', 'Shahjahanpur', 'Shamli', 'Shravasti', 'Siddharth Nagar', 'Sitapur', 'Sonbhadra', 'Sultanpur', 'Unnao', 'Varanasi'], 'Uttrakhand': ['Almora', 'Bageshwar', 'Chamoli', 'Champawat', 'Dehradun', 'Haridwar', 'Nainital', 'Pauri Garhwal', 'Pithoragarh', 'Rudra Prayag', 'Tehri Garhwal', 'Udam Singh Nagar', 'Uttar Kashi'], 'West Bengal': ['24 Paraganas North', '24 Paraganas South', 'Bankura', 'Bardhaman', 'Birbhum', 'Coochbehar', 'Darjeeling', 'Dinajpur Dakshin', 'Dinajpur Uttar', 'Hooghly', 'Howrah', 'Jalpaiguri', 'Maldah', 'Medinipur East', 'Medinipur West', 'Murshidabad', 'Nadia', 'Purulia']}